using UnityEngine.UI;
using ProxFramework.UI;
using TMPro;
using UnityEngine;

namespace ProxFramework.UI.Template
{
    public partial class UIWindowTemplate : UIWindow
    {
        //==自动化变量开始
        private void AutoBind()
        {
            //==自动化路径开始
        }
    }
}